@color-red: #f54e4e;
@color-blue: #26a2ff;
@color-green: #4caf50;
@color-yellow: #ff9307fd;

@mainColor: #57be6a;
@lineColor: #c9c9c9;
.box-shadow {
  box-shadow: 0 0 16px 0 hsla(0, 0%, 77%, 0.5);
}
.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}